body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  letter-spacing: 0.8px;

  box-sizing: border-box;

  background: #060606;
  color: #eeeeee;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}