body::-webkit-scrollbar {
  display: none;
}

body {
  box-sizing: border-box;

  background: #060606;
  color: #eeeeee;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}